@CHARSET "UTF-8";

.czs.main {
	padding-top: 72px;
	min-height: 800px;
	width: 100%;
	background-image: url("../img/dark-bg.png");
	background-repeat: repeat;
	min-height: 800px;
}

.czs-header{
	margin-left:80px;
}

.czs-a{
	text-decoration: none;
}

.czs.center {
	text-align: center;
}

.banner {
	position: relative;
	overflow: auto;
}

.banner li {
	list-style: none;
}

.banner ul li {
	float: left;
	min-height: 500px;
	width: 100%;
}

.czs.main>.unslider {
	padding:20px 20px;
}

.banner {
	position: relative;
	width: 100%;
	overflow: auto;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: rgba(255, 255, 255, .6);
	text-shadow: 0 0 1px rgba(0, 0, 0, .05), 0 1px 2px rgba(0, 0, 0, .3);
	background: #5b4d3d;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
}

.banner ul {
	list-style: none;
	width: 300%;
	margin: 0;
	padding: 0;
}

.banner ul li {
	display: block;
	float: left;
	width: 33%;
	min-height: 350px;
	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	box-shadow: inset 0 -3px 6px rgba(0, 0, 0, .1);
}

.banner .dot {
	-webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
	-moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
	-ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
	-o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
	filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
}

.banner .dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
}

.banner .dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 6px;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}

.banner .dots li.active {
	background: #fff;
	opacity: 1;
}

.banner .arrows {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: #fff;
}

.banner .arrow {
	display: inline;
	padding-left: 10px;
	cursor: pointer;
}