<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>用户登录</title>
<link href="../../../../resources/semantic/css/semantic.min.css"
	rel="stylesheet" type="text/css">
<script src="../../../../resources/js/lib/jquery-1.10.2.min.js"
	charset="utf-8"></script>
<script src="../../../../resources/semantic/javascript/semantic.min.js"
	charset="utf-8"></script>
</head>
<body style="margin: 0px; padding: 0px;">
	<!-- 侧边栏 -->
	<div class="ui sidebar">
		<div class="ui vertical menu">
			<div class="header item">
				<i class="user icon"></i> 我的信息
			</div>
			<a class="item"> 基本信息 </a> <a class="item"> 二维码 </a>
			<div class="header item">
				<i class="globe icon"></i> 菜单管理
			</div>
			<a class="item"> 菜单一览 </a> <a class="item"> 增加菜单 </a>
			<div class="header item">
				<i class="icon calendar"></i> 顾客管理
			</div>
			<a class="item"> 顾客一览 </a>
		</div>
	</div>

	<div class="ui fixed transparent inverted main menu" style="top: 0px;">
		<div class="container">
			<a class="launch item"><i class="icon list layout"></i> Content</a>
			<div class="title item">
				<b>UI Element:</b> Header
			</div>
		</div>
	</div>

	<h4 class="ui top attached header" style="margin-top: 45px;">Sign
		Up For Our Site</h4>
	<div class="ui segment attached">
		<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi,
			euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
		<p>Praesent dapibus, neque id cursus faucibus, tortor neque
			egestas augue, eu vulputate magna eros eu erat. Aliquam erat
			volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis
			luctus, metus.</p>
	</div>
	<div class="ui segment attached">
		<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi,
			euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
		<p>Praesent dapibus, neque id cursus faucibus, tortor neque
			egestas augue, eu vulputate magna eros eu erat. Aliquam erat
			volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis
			luctus, metus.</p>
	</div>
	<div class="ui segment attached">
		<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi,
			euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
		<p>Praesent dapibus, neque id cursus faucibus, tortor neque
			egestas augue, eu vulputate magna eros eu erat. Aliquam erat
			volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis
			luctus, metus.</p>
	</div>
	<div class="ui segment attached">
		<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi,
			euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
		<p>Praesent dapibus, neque id cursus faucibus, tortor neque
			egestas augue, eu vulputate magna eros eu erat. Aliquam erat
			volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis
			luctus, metus.</p>
	</div>
	<div class="ui segment attached">
		<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi,
			euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
		<p>Praesent dapibus, neque id cursus faucibus, tortor neque
			egestas augue, eu vulputate magna eros eu erat. Aliquam erat
			volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis
			luctus, metus.</p>
	</div>
	<div class="ui segment attached">
		<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi,
			euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
		<p>Praesent dapibus, neque id cursus faucibus, tortor neque
			egestas augue, eu vulputate magna eros eu erat. Aliquam erat
			volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis
			luctus, metus.</p>
	</div>
	<div class="ui segment attached">
		<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi,
			euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
		<p>Praesent dapibus, neque id cursus faucibus, tortor neque
			egestas augue, eu vulputate magna eros eu erat. Aliquam erat
			volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis
			luctus, metus.</p>
	</div>
	<div class="ui segment attached">
		<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi,
			euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
		<p>Praesent dapibus, neque id cursus faucibus, tortor neque
			egestas augue, eu vulputate magna eros eu erat. Aliquam erat
			volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis
			luctus, metus.</p>
	</div>
	<div class="ui segment attached">
		<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi,
			euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
		<p>Praesent dapibus, neque id cursus faucibus, tortor neque
			egestas augue, eu vulputate magna eros eu erat. Aliquam erat
			volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis
			luctus, metus.</p>
	</div>
	<div class="ui segment attached">
		<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi,
			euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
		<p>Praesent dapibus, neque id cursus faucibus, tortor neque
			egestas augue, eu vulputate magna eros eu erat. Aliquam erat
			volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis
			luctus, metus.</p>
	</div>
	<h4 class="ui bottom attached header">Thanks</h4>

	<script type="text/javascript">
		
		jQuery(function($) {
			$('.ui.sidebar').sidebar('toggle');
		});
	</script>
</body>
</html>